/* html5 reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:separate;border-spacing:0}
caption, th, td {text-align:left;font-weight:normal;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}
/* layout */
body {
    background-position: 0 0px;
    background-repeat: repeat;
    font: 13px Arial,sans-serif;
	background-image: url("img/background.png");
    background-color: #d2d2d2;
	font-family:Arial, Helvetica, sans-serif;
}
a {
    color: #FFFFFF;
    outline: medium none;
    text-decoration: none;
}
a:hover {
    opacity: 1;
}
.body p a {
    color: #E3272A;
}
.body p a:hover {
    text-decoration: underline;
}
/* header */
#header {
    background: url("img/header.png") repeat-x scroll 50% 0;
    height: 130px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    z-index: 99999;
}
#header #header-content {
    height: 131px;
    margin: 0 auto;
    width: 1000px;
}
#header-content .logo {
    margin: 0 220px;
    position: relative;
    top: 5px;
}

a.logo img { 
    opacity: 1.0;
    padding: 0 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-khtml-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

a.logo img:hover {
    opacity: 0.6;
}
#header-shadow {
    background-image: url("img/header-shadow.png");
    background-position: 0 0;
    background-repeat: repeat-x;
    height: 4px;
    margin: 0 auto;
    position: absolute;
    top: 130px;
    width: 100%;
    z-index: 277;
}

/* slider */
#gamesHolder {
    margin: 0 auto;
}
#slider-light {
    background-image: url("img/slider-light.png");
    background-repeat: no-repeat;
    height: 349px;
    margin: 0 auto;
    position: relative;
    width: 920px;
    z-index: 288;
}
#slider-shadow {
    background-image: url("img/slider-shadow.png");
    background-repeat: no-repeat;
    height: 92px;
    margin: 0 auto;
    position: relative;
    top: -22px;
    width: 1034px;
}
/* middle content */
.wrapper {
    height: 610px;
    margin: 0 auto;
    padding: 13px 0;
    position: relative;
    width: 1083px;
}
#content-bg {
    background: url("img/content-bg.png") no-repeat 50% 0 transparent;
    height: 592px;
    margin: 0 auto;
    position: absolute;
    width: 1083px;
}
/* Separators */
#vertical-separators {
    margin: 0 auto;
    position: relative;
    top: 119px;
}
#separator {
	background: url("img/vertical-separator.png");
	background-repeat: no-repeat;
	height: 211px;
	width: 2px;
	position: absolute;
}
.sep1 {
    left: 360px;
}
.sep2 {
    left: 720px;
}
#separator2 {
    background-image: url("img/horizontal-separator.png");
    background-repeat: no-repeat;
    height: 40px;
    margin: 0 auto;
    position: relative;
    top: 55px;
    width: 803px;
}
/* After Slider - Title & Description */
#message {
    margin: 0 auto;
    position: relative;
    top: 30px;
}
.main-title {
    height: 36px;
    position: relative;
    text-align: center;
}
.main-description {
    height: 40px;
    padding-left: 65px;
    padding-right: 65px;
    position: relative;
    text-align: center;
    top: 15px;
    width: 950px;
}
#message2 {
    margin: 0 auto;
    position: relative;
    top: 135px;
}
.main-title2 {
    height: 28px;
    position: relative;
    text-align: center;
}
#message3 {
    margin: 0 auto;
    position: relative;
}
.main-title3 {
    height: 25px;
    position: absolute;
    text-align: center;
    top: 355px;
    width: 1080px;
}
/* Column Titles */
#columns {
    margin: 0 auto;
    position: relative;
    top: 125px;
}
section#column1 {
    float: left;
    height: 160px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px 0;
    width: 340px;
}
#column2 {
    float: left;
    height: 160px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px 0;
    width: 340px;
}
#column3 {
    float: left;
    height: 160px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px 0;
    width: 340px;
}
.column-title {
    height: 20px;
    text-align: center;
}
.column-description {
    height: 36px;
    left: 62px;
    position: relative;
    text-align: center;
    top: 8px;
    width: 224px;
}
.column-content {
    height: 58px;
    position: relative;
    text-align: center;
    top: 40px;
}
.column-content-choice {
    height: 58px;
    position: relative;
    text-align: center;
    top: 12px;
}
/* Share Button*/
.share {
    height: 23px;
    left: 180px;
    position: relative;
    top: -37px;
    width: 70px;
}
a.sharelink img { 
    opacity: 0.6;
    padding: 0 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-khtml-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}
a.sharelink img:hover {
    opacity: 1.0;
}
/* Like Button */

a.like { 
    opacity: 0.6;
    padding: 0 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-khtml-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}
a.like:hover {
    opacity: 1.0;
}
input {
    background: none repeat scroll 0 0 #B9B9B9;
    border: 1px solid #A6A6A6;
    border-radius: 0.4em 0.4em 0.4em 0.4em;
    color: #FAFAFA;
    font: bold 0.95em arial,sans-serif;
    height: 50px;
    padding: 0.2em;
    text-shadow: 0 1px 0 #A6A6A6;
    width: 305px;
}
/* scroll bar */
::-webkit-scrollbar-thumb:vertical{background-color:#e5e5e5; height:100px}

::-webkit-scrollbar-thumb:horizontal{background-color:#e5e5e5; height:10px}

::-webkit-scrollbar{height:10px; width:10px; background-color:#2f2f2f}

/* footer */
* {margin: 0;}
html, body {height: 100%;}
	.content {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -58px; /* Set footer height. */
}
	footer, .push {
	height: 58px; /* Set footer height. */
	/* clear: both; */ /* Muti-column fix.*/
}
	footer {
    background-image: url("img/footer.png");
    background-position: 0 0;
    background-repeat: repeat-x;
}
#footer-shadow {
    background-image: url("img/footer-shadow.png");
    background-position: 0 0;
    background-repeat: repeat-x;
    height: 4px;
    margin: 0 auto;
    position: relative;
    top: -3px;
    width: 100%;
}
.copyrights {
    color: #FFFFFF;
    font-size: 9.5pt;
    left: -300px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
    width: 450px;
}
.creator {
    background-repeat: no-repeat;
    height: 31px;
    right: -500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
    position: relative;
    width: 51px;
}
a.creator img { 
    opacity: 0.6;
    padding: 0 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-khtml-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}
a.creator img:hover {
    opacity: 1;
}
.resize {
	width: 300px !important;
	height: 50px !important;	
}
#get-it {
    height: 45px;
    margin: 0 auto;
    position: relative;
    top: 386px;
    width: 170px;
}
a.button {
	background: url("img/get-button.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 45px;
    text-indent: -9999px;
    width: 170px;
}
a.button:hover {
	background-position: 0 -45px;
}
#download {
    height: 45px;
    margin: 0 auto;
    position: relative;
    top: 246px;
    width: 170px;
}
a.button2 {
	background: url("img/download-button.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 45px;
    text-indent: -9999px;
    width: 170px;
}
a.button2:hover {
	background-position: 0 -45px;
}
a.choice {
    -moz-transition: all 0.5s ease-in-out 0s;
    background: url("img/choice.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 135px;
    opacity: 0.6;
    text-indent: -9999px;
    width: 139px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-khtml-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	margin: 0 auto;
}
a.choice:hover {
	opacity: 1;
}
a.choice2 {
    -moz-transition: all 0.5s ease-in-out 0s;
    background: url("img/choice.png") no-repeat scroll -158px 0 transparent;
    display: block;
    height: 135px;
    opacity: 0.6;
    text-indent: -9999px;
    width: 135px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-khtml-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	margin: 0 auto;
}
a.choice2:hover {
	opacity: 1;
}
a.choice3 {
    -moz-transition: all 0.5s ease-in-out 0s;
    background: url("img/choice.png") no-repeat scroll -315px 0 transparent;
    display: block;
    height: 135px;
    opacity: 0.6;
    text-indent: -9999px;
    width: 135px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-khtml-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	margin: 0 auto;
}
a.choice3:hover {
	opacity: 1;
}
#tracker {
    height: 58px;
    margin: 0 auto;
    position: relative;
    top: 200px;
    width: 500px;
}
.tracker-1 {
	background: url("img/tracker1.png") no-repeat scroll 0 0 transparent;
}
.tracker-2 {
	background: url("img/tracker2.png") no-repeat scroll 0 0 transparent;
}
.tracker-3 {
	background: url("img/tracker2.png") no-repeat scroll 0 0 transparent;
}